<h1>Editing displayable</h1>

<%= render "form", displayable: @displayable %>

<br>

<div>
  <%= link_to "Show this displayable", @displayable %> |
  <%= link_to "Back to displayables", displayables_path %>
</div>
